/*
    Name: Tyler Marcinyshyn
    Date: November 7, 2018
    Section: CSE 154 AF
    This index.css styles Conversation Parade by positioning and sizing all elements on the page.
    It includes animations for text and the emote buttons.
*/

@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    margin: 0;
    background-image: url(images/plaid.png);
    background-position: 0 12%;
}

header {
    top: 0;
    z-index: 3;
}

header img {
    position: absolute;
    margin-left: 8%;
    bottom: 15%;
}

footer {
    bottom: 0;
}

main {
    top: 12%;
    height: 76%;
    background-image: url(images/cloud.png);
	background-repeat: repeat-x;
    overflow: hidden;
}

section {
    /* The gray panel on the right side of the page */
    position: absolute;
    right: 0;
    width: 40%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    overflow: hidden;
}

header, footer {
    height: 12%;
    background-color: black;
}

header, footer, main{
    position: absolute;
    width: 100%;
}

p, h1 {
    color: white;
    font-family: Lato, sans-serif;
}

    
h1 {
    /* Used for Apathy's name tag */
    position: absolute;
    font-weight: normal;
    font-size: 20pt;
    background-color: black;
    padding: 8px 20px 12px 20px;
    border-radius: 20px 5px 0px 0px;
    bottom: 30%;
    left: 5%;
}

footer p {
    margin-left: 8%;
}

section p {
    margin: 0 6% 0 6%;
    padding-top: 15px;
    animation: fadein 2s;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
}

input {
    margin-left: 5%;
    margin-top: 3%;
    width: 70%;
    border-radius: 10px 0px 0px 10px;
}

button {
    width: 15%;
    margin-left: 0;
    border-radius: 2px;
    border-radius: 0px 10px 10px 0px;
    background-color: #dddddd;
}

button:hover {
    background-color: #edafaf;
}

input, button {
    font-family: Lato, sans-serif;
    font-size: 14pt;
    padding: 5px;
}

#bubble {
    /* The bubble containing Apathy's speech */
    background-color: white;
    position: absolute;
    width: 55%;
    height: 30%;
    left: 2.5%;
    bottom: 3%;
    border-radius: 25px 10px;
    border: 1px solid black;
    z-index: 2;
    text-align: left;
    overflow-y: auto;
}

.message {
    color: black;
    line-height: 140%;
    font-size: 18pt;
    margin: 2% 5% 2% 5%;
    animation: fadein 2s;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
}

#velvet {
    position: absolute;
    width: 60%;
    margin-left: -1%;
    margin-top: -0.5%;
    height: 98%;
}

#log {
    height: 100%;
}

.container{
    /* A flex container which holds the emote buttons */
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
}

.emote {
    height: 80%;
    border-radius: 20% 20% 0 0;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

.emote:hover {
    height: 100%;
}

.emote p {
    font-weight: bold;
    text-shadow: 0px 0px 5px black, 0px 0px 1px black, 0px 0px 2px black;
    letter-spacing: 2px;
    margin: 0;
    padding: 0px 0px 2px 5px;
}

#angry{
    background-color: #ff9999;
}

#happy {
    background-color: #ffea63;
}

#somber {
    background-color: #93dced;
    margin-right: 3%;
}

#apathy {
    position: absolute;
    height: 56%;
    left: 22.5%;
    bottom: 29%;
    z-index: 1;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    /*for Safari, Chrome and Opera > 12.1 */
    from { opacity: 0; }
    to   { opacity: 1; }
}