@import url('https://fonts.googleapis.com/css?family=Lato');

/* TYPOGRAPHY */

h1, h2, h3, h4, p, a, input, button {
   font-family: Lato, sans-serif;
}

h1 { /* Text used in header */
   color: white;
   margin: 0;
   font-size: 1.75rem;
   padding-bottom: 0.5rem;
   font-weight: normal;
}

h3 { /* Used for filter option */
   margin: 0;
   margin-left: 9%;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
}

h2 {
   position: absolute;
   width: 89.5%;
   color: white;
   background-color: #474747;
   margin: 0;
   font-size: 1.5rem;
   padding: 1.5%;
   padding-left: 9%;
   font-weight: normal;
}

h4 {
   font-size: 1.4rem;
   margin-bottom: 0.75rem;
   margin-top: 1rem;
}

.deck-header p { /* The delete button for a deck */
   font-size: 30px;
   margin: 0;
   display: inline;
   position: absolute;
   right: 4px;
}

#cards p { /* Displays total number of search results */
   margin-left: 9%;
   margin-bottom: 0.1rem;
}

#result-count {
   margin-top: 0;
}

#full #cards {
   display: none;
}

/* UNIVERSAL PAGE ELEMENTS */

body {
   background-color: #d1d1d1;
}

main {
   width: 100%;
}

header {
   top: 0;
   background-color: black;
   width: 100%;
   text-align: center;
}

footer {
   display: none;
}

#left-panel {
   background-image: linear-gradient(#a0a0a0, #707070);
   -webkit-overflow-scrolling: auto;
   overflow-x: scroll;
   white-space: nowrap;
   min-height: 3rem;
}

#full #left-panel {
   display: none;
}

header img {
   width: 70%;
   margin-top: 0.5rem;
}

input, button {
   padding: 0.5rem;
   font-size: 18px;
   margin-top: .5rem;
   margin-bottom: .5rem;
}

input { /* Search input box */
   border-radius: 10px 0px 0px 10px;
   width: 60%;
}

#search { /* Bar containing search input box */
   background-color: #707070;
   width: 100%;
   text-align: center;
}

#search button {
   border-radius: 0px 10px 10px 0px;
   background-color: #e24646;
   color: white;
}

#search button:hover {
   background-color: #e76561;
   cursor: pointer;
}

/* 'ADD CARD' PAGE ELEMENTS */

#loading-symbol {
   margin: auto;
   width: 50px;
   height: auto;
   animation: rotation 2s infinite linear;
   -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
   from {
         -webkit-transform: rotate(0deg);
   }
   to {
         -webkit-transform: rotate(359deg);
   }
}

.container { /* Right-panel's flex container of cards */
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   flex-wrap: wrap;
   margin-bottom: 3.5rem;
   padding: 1rem .5rem 0 .5rem;
   min-height: 4rem;
}

.container .card {
   padding: .5rem;
   width: 2.8in;
   height: 3.92in;
}

#left-panel .card {
   width: 25%;
   height: auto;
   margin: 3rem 0.25rem 0.75rem 0.5rem;
   display: inline-block;
}

#confirmation-area { /* Contains done-btn and cancel-btn */
   display: flex;
   width: 100%;
   position: fixed;
   bottom: 0;
}

#done-btn, #cancel-btn {
   text-decoration: none;
   text-align: center;
   font-size: 1.5rem;
   color: white;
   margin: 0;
   padding: .3em;
}

#done-btn {
   background-color: #7c7c7c;
   flex-grow: 3;
   border: 3px solid;
   border-image: linear-gradient(to bottom, #a3a3a3 0%, #707070 100%);
   border-image-slice: 1;
}

#cancel-btn {
   background-color: #474747;
   flex-grow: 1;
   border: 3px solid;
   border-image: linear-gradient(to top, #494949 0%, #939393 100%);
   border-image-slice: 1;
}

#done-btn:hover {
   background-color: #8a8a8a;
}

#cancel-btn:hover {
   background-color: #575757;
}

#full #done-btn, #full #cancel-btn {
   display: none;
}

#filter { /* Container of filter options */
   background-color: #e2e2e2;
}

#full #filter {
   display: none;
}

/* 'DECK SELECT' PAGE ELEMENTS */

.deck-container {
   display: none;
}

#full .deck-container {
   display: flex;
   overflow-x: scroll;
   -webkit-overflow-scrolling: auto;
}

#new-deck, #back-btn {
   display: none;
}

#full #new-deck, #full #back-btn {
   display: block;
   font-size: 25pt;
   font-weight: bold;
   padding: 0.25rem 0.75rem 0.25rem 0.75rem;
   border-radius: 50%;
   background-color: white;
   position: fixed;
   z-index: 2;
   right: 1rem;
   bottom: 0.5rem;
}

#full #back-btn {
   padding-left: .5rem;
   padding-right: .5rem;
   font-weight: normal;
}

#full #new-deck:hover, #full #back-btn:hover {
   background-color: #e0e0e0;
}

.deck-icon {
   position: relative;
   padding: 2.5rem;
   padding-bottom: 0.75rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.deck-icon>img {
   width: 1.4in;
   height: 1.96in;
   margin-bottom: 0.5rem;
   border-radius: 5px;
}

.deck-icon:nth-child(2n) {
   background-color: #dbdbdb;
}

.deck-icon a { /* 'View' and 'Edit' buttons of each deck panel */
   font-size: 14pt;
   display: block;
   text-align: center;
   color: black;
   background-color: #f4f4f4;
   border-radius: 10px;
   padding: 5px;
   width: 80%;
   margin: 0.25rem;
   text-decoration: none;
}

.deck-icon a:last-child {
   margin-bottom: .75rem;
}

.deck-icon a:visited {
   color: black;
}

.deck-icon a:hover {
   background-color: #bababa;
}

.deck-header {
   background-color: #e2e2e2;
   width: 100%;
   position: absolute;
   top: 0;
   right: 0;
}

.deck-icon:nth-child(2n) .deck-header {
   background-color: #f4f4f4;
}

.deck-header img { /* Pokémon Type icons */
   height: 2rem;
   margin-top: 0.25rem;
   margin-left: .25rem;
}

.deck-header img:first-child {
   margin-left: .75rem;
}

/* 'DECK VIEW' PAGE ELEMENTS */

#right-panel.deck-view {
   padding-top: 2rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

#right-panel.deck-view .card {
   margin-top: 1rem;
}

.warning {
   position: absolute;
   left: 9%;
   margin-top: 6rem;
}

#full .warning {
   position: relative;
   left: 0;
   margin-top: 45%;
}

@media (min-width: 576px) {

   /* UNIVERSAL PAGE ELEMENTS */

   header img {
      width: 60%;
   }

   input {
      width: 65%;
   }

   input, button {
      font-size: 1.5rem;
   }

   /* TYPOGRAPHY */

   #filter h3 { /* Used for filter option */
      font-size: 2.25rem;
   }

   #cards p { /* Displays total number of search results */
      font-size: 1.5rem;
   }

   /* 'ADD CARD' PAGE ELEMENTS */

   #done-btn, #cancel-btn {
      font-size: 2rem;
   }

}

@media (max-width: 768px) { /* For consistently visibile scrollbar on mobile */

   ::-webkit-scrollbar {
      appearance: none;
      background-color: rgba(255, 255, 255, .25);
   }

   ::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, .25);
      border-radius: 10px;
   }

   ::-webkit-scrollbar:vertical {
      width: 12px;
   }

   ::-webkit-scrollbar:horizontal {
      height: 12px;
   }

}

@media (min-width: 768px)  { /* addresses desktops */

      /* UNIVERSAL PAGE ELEMENTS  */

      body {
         display: flex;
         flex-direction: column;
         position: fixed;
         height: 100%;
         width: 100%;
      }

      header {
         height: 15%;
         display: flex;
         align-items: baseline;
      }

      header img {
         height: 74%;
         width: auto;
         margin-left: 33%;
      }

      main {
         height: 63%;
      }

      footer {
         display: block;
         height: 12%;
         background-color: black;
         z-index: 1;
      }

      #search {
         height: 10%;
         text-align: left;
         display: flex;
         align-items: center;
         background-color: #444444;
      }

      button, input {
         font-size: 1rem;
         margin: 0;
         padding: 10px;
         z-index: 2;
      }

      input {
         width: 35%;
         margin-left: 33%;
         position: relative;
      }

      #left-panel {
         display: flex;
         flex-wrap: wrap;
         align-items: flex-start;
         position: fixed;
         width: 33%;
         height: 63%;
         overflow-y: scroll;
      }

      #right-panel {
         height: 100%;
         margin-left: 33%;
         width: 67%;
         position: relative;
         overflow-y: scroll;
      }

      #full #right-panel {
         margin-left: 0%;
         width: 100%;
      }

      .warning {
         margin-left: auto;
         font-size: 14pt;
         z-index: 1;
      }

      #full .warning {
         left: 0;
         position: relative;
         margin: auto;
      }

      .card {
         animation: fadein 1.5s;
         -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
      }

      @keyframes fadein {
         from { opacity: 0; }
         to   { opacity: 1; }
      }

      /* Safari, Chrome and Opera > 12.1 */
      @-webkit-keyframes fadein {
         from { opacity: 0; }
         to   { opacity: 1; }
      }

      .left-panel .card {
         animation: none;
      }

      /* TYPOGRAPHY */

      h1 { /* Text used in header */
         padding: 0;
         font-size: 1.5rem;
      }

      #filter h3 { /* Used for filter option */
         font-size: 1.5rem;
         padding-top: 0.5rem;
         padding-bottom: 0.5rem;
      }

      h4 { /* Used for deck titles */
         font-size: 1.5rem;
         margin-top: 2.25rem;
         margin-bottom: 1rem;
         padding: 0;
      }

      footer p {
         color: white;
         padding: 0;
         margin: 0;
         margin-left: 33%;
      }

      footer p:first-child {
         padding-top: 1rem;
      }

      h2 { /* text displayed above left panel */
         background-color: transparent;
         padding: 0;
         position: fixed;
         padding-left: 1rem;
         padding-bottom: 0.5rem;
         bottom: 75%;
         z-index: 1;
         font-size: 22pt;
         font-weight: bold;
         color: white;
      }

      #cards p { /* Displays total number of search results */
         font-size: 1rem;
      }

      .count {
         color: white;
         margin-left: 0.75rem;
         display: block;
      }

      /* 'ADD CARD' PAGE ELEMENTS */

      #confirmation-area { /* Contains done-btn and cancel-btn */
         position: fixed;
         width: 33%;
         bottom: 12%;
      }

      #done-btn, #cancel-btn {
         font-size: 1.5rem;
      }

      #full #done-btn, #full #cancel-btn {
         display: none;
      }

      .container {
         margin: 0 auto 0 auto;
         padding: 0;
         padding-top: .5rem;
         justify-content: center;
      }

      .container .card {
         width: 2.25in;
         height: 3.15in;
         padding: 0.75rem;
         transition: all .2s ease-in-out;
      }

      .container .card:hover {
         transform: scale(1.05);
      }

      @keyframes wiggle {
         50%  { transform: translateY(-5px);  }
         100%  { transform: translateY(0px); }
       }

      #left-panel .card {
         width: 42%;
         height: auto;
         margin: 0;
         margin-top: 4%;
         margin-left: 5%;
         padding: 0;
      }

      #left-panel .card:last-child {
         margin-bottom: 3.5rem;
      }

      /* 'DECK SELECT' PAGE ELEMENTS */

      #full #new-deck, #full #back-btn {
         font-size: 30pt;
         padding: 0.4rem 1rem 0.4rem 1rem;
         bottom: 12%;
         margin-right: 1rem;
         margin-bottom: 1rem;
      }

      #full #back-btn {
         padding-left: .7rem;
         padding-right: .7rem;
      }

      #full .deck-container {
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: center;
         overflow-x: auto;
      }

      .deck-icon {
         flex-basis: 200px;
         padding-top: 1rem;
         padding-bottom: 0.5rem;
      }

      .deck-icon>img {
         width: 1.2in;
         height: 1.68in;
         margin-bottom: 1rem;
      }

      .deck-icon a:last-child {
         margin-bottom: 0.5rem;
      }

      .deck-header img { /* Pokémon Type icons */
         height: 1.95rem;
         margin-left: .1rem;
      }

      .deck-header img:first-child {
         margin-left: .75rem;
      }

      /* 'DECK VIEW' PAGE ELEMENTS */

      #right-panel.deck-view {
         justify-content: flex-start;
         align-items: flex-start;
         padding-top: 0;
      }

      #right-panel.deck-view .card {
         margin-left: 1rem;
      }

      #right-panel .card:last-child {
         margin-bottom: 1rem;
      }

      #full footer p, #full input, #full header img {
         margin-left: 29%;
      }

   }

@media (min-width: 1200px) { /* for large desktops */

   /* UNIVERSAL PAGE ELEMENTS  */

   header img {
      margin-top: 0.75rem;
   }

   /* TYPOGRAPHY */

   h4 { /* Used for deck titles */
      margin-bottom: .75rem;
   }

   /* 'ADD CARD' PAGE ELEMENTS */

   .container .card {
      width: 2.5in;
      height: 3.5in;
   }

   /* 'DECK SELECT' PAGE ELEMENTS */

   .deck-icon>img {
      width: 1.4in;
      height: 1.96in;
      margin-bottom: 0.75rem;
   }

   .deck-header img { /* Pokémon Type icons */
      height: 2rem;
      margin-top: 0.25rem;
      margin-left: .25rem;
   }

   .deck-header img:first-child {
      margin-left: .75rem;
   }

}

.hidden {
   visibility: hidden;
   display: none;
   width: 0;
   height: 0;
}
